@{
    ViewBag.Title = "RaceMaker";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<h2>About Us</h2>

<p>RaceMaker is a not for profit web app designed to promote running and physical wellness in the community.</p>
<p>At RaceMaker, it is our aim to bring race organizers and participants together.</p>
