@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RaceMaker</h1>
    <p class="lead">A Place for Building and Registering for Races!!!</p>
    <p><a href="http://localhost:57851/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find A Race</h2>
        <p>
            Click Here to Find a Race
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create A Race</h2>
        <p>Click Here to Create A New Race</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up For A Race</h2>
        <p>Click Here to Sign Up For A Race</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>