@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <h1>RaceMaker</h1>
    <p class="lead">A Place for Building and Registering for Races!!!</p>
    <p><a href="http://localhost:57851/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p> 
    @*<p><img src=@Url.Content("~/C:/images/Runner.jpg") alt="body" /><p></p>*@
</div>

<div class="row" align="center">
    <div class="col-md-6">
        <h2>Create A Race</h2>
        <p>
            Click Here to Create a Race
        </p>
        <p><a class="btn btn-default" href="http://localhost:57851/CreateRaces/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Search For Races</h2>
        <p>Click Here To Search For A Race</p>
        <p><a class="btn btn-default" href="http://localhost:57851/CreateRaces/Index">Search &raquo;</a></p>
    </div>
</div>