@{
    ViewBag.Title = "Home Page";
}
<br/>
<br />

<div class="jumbotron" align="center" , style="background-image: url(../Files/runner.jpg)">
    <br />
    
</div>
<div class="jumbotron" align="center">
    <h1 @*style="color: orangered">*@ >RaceMaker</h1>
    <p @*style="color: orangered",*@ class="lead">A Place for Building and Registering for Races!!!</p>
    <p><a href="http://localhost:57851/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p> 
</div>


<div class="row" align="center">
    <div class="col-md-6">
        <h2>Create A Race</h2>
        <p>
            Click Here to Create a Race
        </p>
        <p><a class="btn btn-default" href="http://localhost:57851/CreateRaces/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>View All Races</h2>
        <p>Click Here To View Races</p>
        <p><a class="btn btn-default" href="http://localhost:57851/RaceSignUps/Index">View Race Listings &raquo;</a></p>
    </div>
</div>