@model RaceMaker.Models.CreateRace
@{
    ViewBag.Title = "Charge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Your payment has successfully gone through!</h2>

@*@Html.ActionLink("Race Details", "Details", new { id = Model.ID }, null)*@