@model RaceMaker.Models.RaceSignUp

@{
    ViewBag.Title = "OrderByDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderByDate</h2>

<div>
    <h4>RaceSignUp</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
