@model IEnumerable<RaceMaker.Models.RaceSignUp>

@{
    ViewBag.Title = "Payment Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Confirmation</h2>

<form action="/RaceSignUps/Charge" method="POST">
    <article>
        <label>Amount: $5.00</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.StripePublishKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="500">
    </script>
</form>